.form_container {
  border: dashed 1px red ;
  border: solid 2px rgba(18, 18, 18, .6);
  border-radius: 2em;
  margin-bottom: 4em;

  background-color: dimgrey;

  padding: 1em;
  display: flex;
  flex-direction: column;
}

.buttons_container {
  margin-top: 5em;
  width: 12em;
  height: 2em;

  display: flex;
  justify-content: space-around;
}

.buttons_container button {
  padding: .3em;
  text-align: center;
  align-self: center;
}

.added_container {
  display: flex;
  flex-direction: column;

  margin-bottom: 1em;
}

.buttons_message {
  display: flex;
  justify-content: space-around;
}